# Emacs backups
*~
**/.emacs.backup

# CLion stuff
/.idea/
/cmake-build-debug/
/build-*/

# VS Code stuff
/.vscode/
/*.code-workspace

# Index files
GPATH
GRTAGS
GTAGS

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories
/build/
/debug/
/release/
